.calendar-dropdowns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.days-of-week {
  display: flex;
}

.day-header {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.calendar-days {
  display: flex;
  flex-wrap: wrap;
}

.empty-day {
  flex: 1;
  height: 20px;
}

.calendar-day {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

h2 {
  text-align: center;
}
/* Add this CSS to highlight work days in blue */
.work-day {
  background-color: lightblue;
}

.day-off {
  background-color: #FFA07A;
  text-color: #FFFFE0;
}
